@font-face {
    font-family: "VARSITY";
    src: url('/LANDING_PAGE_UCLA/fonts/varsity_regular.ttf');
}

@font-face {
    font-family: "BEBAS";
    src: url('/LANDING_PAGE_UCLA/fonts/BebasNeue-Regular.ttf')
}

@font-face {
    font-family: "MONTSERRAT";
    src: url('/LANDING_PAGE_UCLA/fonts/Montserrat-VariableFont_wght.ttf')
}

html {
    scroll-behavior: smooth;
}

.inicio{
    font-size: 40px;
    font-family: VARSITY;
    text-align: center;
    font-style:normal;
    color: black;
}

.banner {
    width: 100%;
    height: 75px;
    background-image: url('/LANDING_PAGE_UCLA/img/BANNER.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.banner2 {
    width: 100%;
    height: 75px;
    background-color: #2774AE;
    position: relative;
    display: flex;
    text-align: center;
}

.logo {
    background-position-x: 10px;
    width: 75px;
}

.titulo {
    font-size: 25px;
    justify-content: center;
    font-family: "VARSITY";
    color: white;
    flex: 8;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.nav{
    justify-content: center;
    flex: 2;
    z-index: 1;
}

.boton, .iconos{
    padding-top: 10px;
    padding-right: 5px;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.iconos{
    pointer-events: none;
    background-size: 50px;
}

.boton{
    opacity: 0;
}

.cerrar{
    display: none;
}

.boton:checked ~ .menu{
    display: none;
}

.boton:checked ~ .cerrar{
    display: block;
}

.lista{
    width: 75px;
    position: absolute;
    top: 59px;
    right: 0px;
    display: none;
    text-align: left;
}

.lista li{
    list-style: none;
    font-size: 15px;
    font-family: BEBAS;;
}

.lista li a{
    text-decoration: none;
    color: white;
    background-color: #FFB81C;
    display: block;
    padding: 5px;
}

.lista li a:hover{
    background-color: #FFD100;
}

.boton:checked ~ .lista{
    display: block;
}

.calendario{
    max-width: 1400px;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.partidos{
    display: flex;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.partido{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 10px;
    scroll-snap-align: start;
    transition: all 0.2s;
} 

.datos{
    display: flex;
    width: 330px;
    height: 150px;
    background-color: #DAEBFE;
    border-radius: 25px 25px 0px 0px;
    z-index: 1;
}

.comprar{
    background-color: #FFB81C;
    border-radius: 0px 0px 25px 25px;
    width: 330px;
    height: 50px;
    position: relative;
    text-align: center;
}

.entradas{
    color: white;
    font-family: BEBAS;
    font-size: 32px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.entradas:hover{
    color: #DAEBFE;
}

.local{
    width: 100px;
    height: 100px;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.visitante{
    height: 100px;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.horario{
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    flex: 2;
    font-family: MONTSERRAT;
}

.jugador:not(:last-child), .partido:not(:last-child){
    margin-right: 10px;
}

.jugadores::-webkit-scrollbar, .partidos::-webkit-scrollbar {
    height: 12px;
}
  
.partidos::-webkit-scrollbar-thumb,
.partidos::-webkit-scrollbar-track,
.jugadores::-webkit-scrollbar-thumb,
.jugadores::-webkit-scrollbar-track {
    border-radius: 50px;
}

.jugadores::-webkit-scrollbar-thumb, 
.partidos::-webkit-scrollbar-thumb {
    background: #2774AE;
}
  
.jugadores::-webkit-scrollbar-track,
.partidos::-webkit-scrollbar-track {
    background: #FFD100;
}

.tienda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.articulo{
    width: 330px;
    border-radius: 25px;
    border:2px solid black;
    overflow: hidden;
    margin: 20px;
    padding-top: 20px;
}

.articulo img{
    width: 100%;
    height: auto;
}

.texto{
    text-align: center;
    font-family: MONTSERRAT;
    font-size: 20px;
}

.equipo{
    max-width: 1400px;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.jugadores{
    display: flex;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.jugador{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 10px;
    scroll-snap-align: start;
    transition: all 0.2s;
} 

.foto{
    display: flex;
    width: 350px;
    height: 254px;
    background-color: #8BB8E8;
    border-radius: 25px 25px 0px 0px;
}

.info{
    background-color: #FFB81C;
    border-radius: 0px 0px 25px 25px;
    width: 350px;
    height: 50px;
    position: relative;
    text-align: center;
}

.nombre{
    font-family: BEBAS;
    font-size: 30px;
    color:white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.textoMascota{
    background-color: #2774AE;
    position: relative;
    text-align: center;
}

.mascota{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.imagen{
    background-image: contain;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: auto;
}

.comprarMascota{
    
    background-color: #FFB81C;
    border-radius: 0px 0px 25px 25px;
    height: 50px;
    position: relative;
    text-align: center;
}

.textoMascota .texto{
    font-size: 12px;
    color: white;
}

.leyendas{
    max-width: 1000px;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.leyenda{
    display: flex;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
}

.leyenda-jugador{
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    scroll-snap-align: start;
} 

.foto-leyenda{
    display: flex;
    position: relative;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: auto;
}

.texto-leyenda{
    background-color: #FFB81C;
    border-radius: 0px 0px 25px 25px;
    position: relative;
    margin-bottom: 25px;
}

.texto-leyenda .texto{
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 12px;
}

.menu-leyenda{
    display: flex;
    column-gap: 1rem;
    bottom: 1.25rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    padding-bottom: 10px;  
}

.menu-leyenda a{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: .75;
    transition: opacity ease 250ms;
    background-color: #2774AE;
}

.menu-leyenda a:hover{
    opacity: 100%
}

.videos{
    padding: 0 9% ;
    margin: auto;    
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.video{
    overflow: hidden; 
}

.video video{
    width: 100%;
    height: auto;
}

.footer{
    background-color: #2774AE;
    text-align: center;
    font-family: BEBAS;
    color: WHITE;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer img{
    padding-right: 10px;
    width: 25px;
}

@media (min-width: 500px){
    
    .partido,.jugador {
        flex-basis: calc(50% - 10px);
    }
    
    .partido:not(:last-child), .jugador:not(:last-child) {
        margin-right: 20px;
    }
}

@media (min-width: 700px) {
    .partido,.jugador {
      flex-basis: calc(calc(100% / 3) - 20px);
    }
  
    .partido:not(:last-child), .jugador:not(:last-child) {
      margin-right: 30px;
    }

    .textoMascota .texto, .texto-leyenda .texto{
        font-size: 25px;
    }

    .banner, .banner2{
        height: 150px;
    }
    .banner2 .logo{
        width: 150px;
    }

    .titulo{
        font-size: 50px;
    }

    .boton, .iconos{
        display: none;
    }
    .lista{
        display: block;
        top: -16px;
        width: unset;
        height: 75px;
        display: flex;
        background-color: transparent;
    }
    .lista li a{
        height: 65px;
        text-align: center;
        background-color: transparent;
        flex: 4;
    }
    .lista li a:hover{
        color: #FFD100;
        background-color: transparent;
    }

    .menu-leyenda a{
        width: 30px;
        height: 30px;
    }

    .videos{ 
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }

    .footer{
        font-size: 32px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer img{
        padding-right: 20px;
        width: 50px;
    }
}
  
@media (min-width: 1100px) {
    .partido,.jugador {
      flex-basis: calc(25% - 30px);
    }
  
    .partido:not(:last-child), .jugador:not(:last-child) {
      margin-right: 40px;
    }
}
  